@media (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}

*{
    transition: 0.3s;
}
#typeText{
    color: #7E78D2;
    position: relative;
    font-weight: 600;
}
nav ul li:not(.contactbutton) a:hover{
    color: #908ae6;
    transition: .25s;
    box-shadow: #908ae6 0px 5px 0px 0px;
}
.contactbutton:hover{
    background-color: #908ae6;
    border: 2px solid #908ae6;
    scale: 1.05;
    transition: .25s;
    box-shadow: #000000 0px 4px 8px 0px;
}
.contactbutton:active{
    border: 2px solid #655fb4;
}
#backtop:hover{
    background-color: #908ae6;
    transition: .25s;
    box-shadow: #000000 0px 4px 8px 0px;
}
.contactbutton:active, #backtop:active{
    background-color: #655fb4;
    scale: 0.95;
    transition: .25s;
}